<div class="card">
 <h2>
    <span>Post #<%=  %></span>
    <span>
      <%= post.title %>
    </span>
  </h2>
   <p>
    <%= post.text %>
  </p>
  <div class="comment">
  <small>
    <span>Comment: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
  </small>
  </div>
</div>