<div class="container">
<div class="post">
  <div class="comment-header">
    <h2>
      Post by <%= post.user.name %>
    </h2>
    <small>
      <span>Comment: <%= post.comments_counter %>, Likes: <%= post.likes_counter %></span>
    </small>
  </div>
  <p>
    <%= post.text %>
  </p>
   <%= render partial: "likes/form", locals: { like: Like.new, user: post.user, post: post } %>
</div>
<% if can? :destroy, @post %>
    <%= button_to 'Delete Post', "/users/#{params[:user_id]}/posts/#{@post.id}",  data: { "turbo-method": :delete , "turbo-confirm": "Are you sure?" }, class: "btn text-white btn-danger delete-post" %>
  <% end %> 
<div class="comments-wrapper">
  <h3>Comments:</h3>
  <% if @post.comments.empty? %>
    <p>There no comment so far!</p>
  <% end %>
  <% @post.comments.each do |comment| %>
    <div class="comment-card">
      <strong>
        <%= link_to user_path(comment.author_id) do %>
          <%= comment.user.name %>
        <% end %>
        :
      </strong>
      <%= comment.text %>
    </div>
       <% if can? :destroy, @post %>
    <%= button_to 'Delete Comment', "/users/#{params[:user_id]}/posts/#{@post.id}",  method: :delete, class: "btn text-white btn-danger" %>
  <% end %>
  <% end %>

  <h3>Add new comment:</h3>
  <%= render partial: "comments/form", locals: { comment: Comment.new, author_id: @post.author_id, post: @post } %>
</div>
</div>